---
// AboutSection.astro
import type { AboutPageProps } from "@types";
import { Image } from "astro:assets";
import profileImg from "../../public/profile-big.jpg";
import "../styles/global.css";
import Section from "./Section.astro";
import ImagePreviewer from "./ImagePreviewer.astro";

type Props = AboutPageProps;

const data = Astro.props;
---

<Section text="About Me">
    <h1 class="mb-6 text-4xl font-bold text-primary"></h1>
    <div class="mb-10 flex flex-col items-center gap-8">
        <Image
            class="w-auto object-cover"
            src={data.mainImage.src}
            width={data.mainImage.width}
            height={data.mainImage.height}
            alt={data.mainImage.name}
        />
        
    </div>

    <div>
        <p class="mb-2 text-base text-neutral">{data.intro}</p>
    </div>

    {
        data.sections.map(({ title, description, images }) => (
            <div class="mb-10">
                <div class="flex flex-col items-center gap-8">
                    <h2 class="self-start text-xl font-bold text-white">
                        {title}
                    </h2>
                    <p class="w-auto text-base text-neutral md:pr-5">
                        {description}
                    </p>
                    {images.length > 0 && (
                        <div class="flex flex-row flex-wrap justify-center gap-12">
                            {images.map((image, index) => (                     
                                <ImagePreviewer image={image} />
                            ))}
                        </div>
                    )}
                </div>
            </div>
        ))
    }  
</Section>