---
import type { PreviewerImage } from "@types";
import { Image } from "astro:assets";

const { image } = Astro.props as { image: PreviewerImage };
const uniqueId = `previewer-${Math.random().toString(36).substr(2, 9)}`;
---

<div
    class={`thumbnail flex-shrink-0 bg-white flex-shrink-1 p-1 flex flex-row items-center`}
    data-fullsrc={image.src}
    data-alt={image.name}
    data-uniqueid={uniqueId}
>
    <Image
        class="object-cover"
        src={image.thumbSrc || image.src}
        width={image.width}
        height={image.height}
        alt={image.name}
    />
</div>
<!-- Overlay Structure -->
<div id=`overlay_${uniqueId}` class="overlay">
    <div class="overlay-container bg-white p-1">
        <img
            class="max-w-[90vw] sm:max-w-[90vw] md:max-w-[90vw]"
            alt="Enlarged view"
        />
    </div>
</div>
<script>
    const getCancelFunction = (uniqueId: string) => {
        return () => {
            const body = document.body;
            const overlay = document.getElementById(`overlay_${uniqueId}`);
            if (overlay) {
                const overlayImg = overlay.querySelector("img");
                if (overlayImg) {
                    overlayImg.setAttribute("src", ""); //clear image
                }
                overlay.style.display = "none";
                overlay.removeAttribute("data-loading");
            }
            body.style.overflow = ""; // Restore background scrolling
        };
    };

    // Add click event listeners to thumbnails
    document.querySelectorAll(".thumbnail").forEach((thumbnail) => {
        //extract data model from attributes
        const imgSrc = thumbnail.getAttribute("data-fullsrc");
        const imgAlt = thumbnail.getAttribute("data-alt");
        const uniqueId = thumbnail.getAttribute("data-uniqueid");
    
        if (!imgSrc || !uniqueId) return;
        
        const overlay = document.getElementById(`overlay_${uniqueId}`);
        const body = document.body;
       
        if (!overlay) return;
        
        const cancelFn = getCancelFunction(uniqueId);
        overlay.addEventListener("click", cancelFn);
        
        thumbnail.addEventListener("click", (event) => {
            if (overlay.getAttribute("data-loading")) return; // Prevent multiple clicks while loading
            overlay.setAttribute("data-loading", "true");
            const overlayImg = overlay.querySelector("img");
            if (overlayImg && imgSrc) {
                const image = new window.Image();
                image.src = imgSrc;
                image.onload = () => {
                    overlayImg.setAttribute("src", imgSrc);
                    overlayImg.setAttribute("alt", imgAlt || "Enlarged image");
                    overlay.style.display = "flex";
                    overlay.removeAttribute("data-loading");
                    body.style.overflow = "hidden"; // Prevent background scrolling
                };
                image.onerror = () => {
                    cancelFn();
                };
            }
        });
    });
</script>

<style>
    .overlay {
        display: none;
        position: fixed;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 999;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }

    .overlay-container {
        position: fixed;
        top: 50%;
        left: 50%;
        flex-shrink: 1;
        transform: translate(-50%, -50%);
    }
</style>
